body {
  margin: 10;
  font-family: Arial;
  background-color: #BEBEBE;
  text-align: center;
  color: #ffffff; 
}

.box {
  color: #fff;
  padding: 1em;
  text-align: center;
  background-color: #efefef;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

.boilerplate { background-color: #27dbe5; }
.csslayout { background-color: #26bfe5; }
.flexbox { background-color: #269ee5; }
.jsbasics { background-color: #105ff2; }

/* Our Grid Code */
.app-layout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 100vh;
}

/* try to resize the screen */
@media screen and (max-width: 1024px) {
  .app-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50vh 50vh;
  }
}
